$def with (projects, breadcrumb)
$var breadcrumb = breadcrumb

<div class="btn-group">
  $if len(breadcrumb) > 1:
    <a href="/index/$breadcrumb[-2]['url']" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-arrow-up"></span>
      Folder up
    </a>
  $elif len(breadcrumb) == 1 and breadcrumb[0]['url'].strip() != '':
    <a href="/index" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-arrow-up"></span>
      Folder up
    </a>

  $if len(breadcrumb) >= 1:
    <a href="/index/$breadcrumb[-1]['url']" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-refresh"></span>
      Refresh
    </a>
  $else:
    <a href="/index" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-refresh"></span>
      Refresh
    </a>
</div>

<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
          <th>Projects</th>
          <th>Last Changed</th>
          <th>Image</th>
      </tr>
    </thead>
    <tbody>
    $for project in projects:
      <tr>
          <td>
            $if not project['haslog']:
              <a class="btn btn-sm btn-default" href="/index/$project['path']">
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp; $project['name']
              </a>
              <a class="btn btn-sm btn-default" href="/view.htm?url=/res/${'/'.join(project['lastchanged'])}/log.html&advanced=true">
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp; latest
              </a>
            $else:
              <a class="btn btn-sm btn-default" href="/view.htm?url=/res/${'/'.join(project['lastchanged'])}/log.html&advanced=true">
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp; $project['name']
              </a>
          </td>
          <td>
            <strong>$project['lastchanged'][3]-$project['lastchanged'][2]-$project['lastchanged'][1]</strong><br />
            at $project['lastchanged'][4].replace('-',':')
          </td>
          <td>
            $if project['img'] :
                <img src="/res/$project['img']" alt="$project['name']" style="height: 64px; width: auto;" />
            $else:
                <img data-src="holder.js/64x64" class="img-rounded" alt="No image available">
          </td>
      </tr>
    </tbody>
  </table>
</div>
