<!DOCTYPE html>
<html>
  <head>
    <title> Nutils -- Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/nutils.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/nutils.min.js"></script>

    <script type="text/javascript">
    <!--

    $(function (){
      loadLogFile('/~rody/asymmetric/2013/11/09/12-22-31/log.html');
    });
    // -->
    </script>
  </head>
  <body>
    <div class="navbar-inverse toplayer" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nutils @ localhost</a>
        </div>
      </div>
    </div>

    <ol class="breadcrumb toplayer">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-2 navigation toplayer">
          <div class="navbar-collapse collapse">
            <form class="navbar-form">
              <div class="form-group">
                <input type="text" placeholder="Search" class="form-control">
              </div>
            </form>
            <ul class="nav navbar-nav">
              <li>
                <a href="">
                  <i class="glyphicon glyphicon-home"></i>
                  Projects
                </a>
              </li>
              <li>
                <a href="">
                  <i class="glyphicon glyphicon-calendar"></i>
                  Calendar
                </a>
              </li>
              <li>
                <a href="">
                  <i class="glyphicon glyphicon-cloud-download"></i>
                  Download ZIP
                </a>
              </li>
            </ul>
          </div><!-- .navbar-collapse -->
        </div><!-- sidemenu -->
        <div class="col-xs-10 col-sm-9">

          <div id="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus lacus at venenatis auctor. Donec ultricies arcu non laoreet posuere. Ut venenatis laoreet eros, eget lobortis tellus malesuada ac. Cras lacinia rhoncus dolor iaculis sollicitudin. Pellentesque porta, leo id molestie consequat, ipsum arcu mollis nunc, quis lobortis massa est sed dui. Aliquam fringilla ut elit eget porttitor. Nulla feugiat faucibus vulputate.</p>
            <p>In porttitor quam non mi congue mattis. Sed euismod risus vel felis fermentum facilisis at a sem. Integer tempus in elit a tempus. Cras iaculis quam ac mauris porta viverra. Phasellus sit amet nisi at nisl feugiat dapibus in vitae sem. Nunc sagittis orci ac sem aliquam, id pharetra nunc cursus. Vivamus blandit tellus enim, eget consequat eros rutrum quis. Aliquam ac tortor tellus. Aliquam eleifend quam enim, congue vehicula felis convallis quis. Aliquam erat volutpat. Proin congue interdum felis et gravida. Phasellus sodales pulvinar nibh, sed suscipit turpis mollis euismod. Nunc sed malesuada velit. Integer turpis enim, mattis sit amet consequat vitae, pharetra a sapien.</p>
            <p>Maecenas interdum elit eget augue volutpat, eget malesuada mi tempor. Aliquam pharetra erat a eros vehicula, ac tincidunt nisi pharetra. Fusce libero velit, laoreet ut sapien ac, tempor consectetur tortor. Vestibulum est dolor, elementum non neque id, interdum pulvinar risus. Nulla imperdiet quam sed tristique semper. Vestibulum augue sem, imperdiet ut tellus vel, laoreet placerat urna. Nam tincidunt accumsan enim, quis luctus magna iaculis vel.</p>
            <p>Nunc condimentum felis gravida ullamcorper faucibus. Curabitur suscipit ultricies metus ac molestie. Phasellus commodo accumsan molestie. Nam eget justo eget ante commodo volutpat at ac quam. Nullam porta massa eget varius varius. Aenean eu turpis sit amet lorem imperdiet iaculis nec id mauris. Vivamus facilisis turpis sed vulputate fermentum. Duis at consequat mauris, ullamcorper lacinia sem. Ut ornare molestie libero. Aenean auctor magna ac ligula molestie, vel rutrum erat tincidunt. Nullam vel ligula sit amet lorem commodo rutrum. Pellentesque congue elit vel metus adipiscing porttitor. Mauris ac ligula dolor.</p>
            <p>Praesent vestibulum mauris quis eros tincidunt iaculis. Praesent odio massa, euismod non hendrerit id, consectetur placerat nisi. Ut a tortor ac velit scelerisque tincidunt a ac sem. Aliquam et massa augue. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et nulla a nulla gravida rutrum. Vestibulum tempus augue eget dui placerat, eget posuere dolor fringilla. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus lacus at venenatis auctor. Donec ultricies arcu non laoreet posuere. Ut venenatis laoreet eros, eget lobortis tellus malesuada ac. Cras lacinia rhoncus dolor iaculis sollicitudin. Pellentesque porta, leo id molestie consequat, ipsum arcu mollis nunc, quis lobortis massa est sed dui. Aliquam fringilla ut elit eget porttitor. Nulla feugiat faucibus vulputate.</p>
            <p>In porttitor quam non mi congue mattis. Sed euismod risus vel felis fermentum facilisis at a sem. Integer tempus in elit a tempus. Cras iaculis quam ac mauris porta viverra. Phasellus sit amet nisi at nisl feugiat dapibus in vitae sem. Nunc sagittis orci ac sem aliquam, id pharetra nunc cursus. Vivamus blandit tellus enim, eget consequat eros rutrum quis. Aliquam ac tortor tellus. Aliquam eleifend quam enim, congue vehicula felis convallis quis. Aliquam erat volutpat. Proin congue interdum felis et gravida. Phasellus sodales pulvinar nibh, sed suscipit turpis mollis euismod. Nunc sed malesuada velit. Integer turpis enim, mattis sit amet consequat vitae, pharetra a sapien.</p>
            <p>Maecenas interdum elit eget augue volutpat, eget malesuada mi tempor. Aliquam pharetra erat a eros vehicula, ac tincidunt nisi pharetra. Fusce libero velit, laoreet ut sapien ac, tempor consectetur tortor. Vestibulum est dolor, elementum non neque id, interdum pulvinar risus. Nulla imperdiet quam sed tristique semper. Vestibulum augue sem, imperdiet ut tellus vel, laoreet placerat urna. Nam tincidunt accumsan enim, quis luctus magna iaculis vel.</p>
            <p>Nunc condimentum felis gravida ullamcorper faucibus. Curabitur suscipit ultricies metus ac molestie. Phasellus commodo accumsan molestie. Nam eget justo eget ante commodo volutpat at ac quam. Nullam porta massa eget varius varius. Aenean eu turpis sit amet lorem imperdiet iaculis nec id mauris. Vivamus facilisis turpis sed vulputate fermentum. Duis at consequat mauris, ullamcorper lacinia sem. Ut ornare molestie libero. Aenean auctor magna ac ligula molestie, vel rutrum erat tincidunt. Nullam vel ligula sit amet lorem commodo rutrum. Pellentesque congue elit vel metus adipiscing porttitor. Mauris ac ligula dolor.</p>
            <p>Praesent vestibulum mauris quis eros tincidunt iaculis. Praesent odio massa, euismod non hendrerit id, consectetur placerat nisi. Ut a tortor ac velit scelerisque tincidunt a ac sem. Aliquam et massa augue. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et nulla a nulla gravida rutrum. Vestibulum tempus augue eget dui placerat, eget posuere dolor fringilla. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus lacus at venenatis auctor. Donec ultricies arcu non laoreet posuere. Ut venenatis laoreet eros, eget lobortis tellus malesuada ac. Cras lacinia rhoncus dolor iaculis sollicitudin. Pellentesque porta, leo id molestie consequat, ipsum arcu mollis nunc, quis lobortis massa est sed dui. Aliquam fringilla ut elit eget porttitor. Nulla feugiat faucibus vulputate.</p>
            <p>In porttitor quam non mi congue mattis. Sed euismod risus vel felis fermentum facilisis at a sem. Integer tempus in elit a tempus. Cras iaculis quam ac mauris porta viverra. Phasellus sit amet nisi at nisl feugiat dapibus in vitae sem. Nunc sagittis orci ac sem aliquam, id pharetra nunc cursus. Vivamus blandit tellus enim, eget consequat eros rutrum quis. Aliquam ac tortor tellus. Aliquam eleifend quam enim, congue vehicula felis convallis quis. Aliquam erat volutpat. Proin congue interdum felis et gravida. Phasellus sodales pulvinar nibh, sed suscipit turpis mollis euismod. Nunc sed malesuada velit. Integer turpis enim, mattis sit amet consequat vitae, pharetra a sapien.</p>
            <p>Maecenas interdum elit eget augue volutpat, eget malesuada mi tempor. Aliquam pharetra erat a eros vehicula, ac tincidunt nisi pharetra. Fusce libero velit, laoreet ut sapien ac, tempor consectetur tortor. Vestibulum est dolor, elementum non neque id, interdum pulvinar risus. Nulla imperdiet quam sed tristique semper. Vestibulum augue sem, imperdiet ut tellus vel, laoreet placerat urna. Nam tincidunt accumsan enim, quis luctus magna iaculis vel.</p>
            <p>Nunc condimentum felis gravida ullamcorper faucibus. Curabitur suscipit ultricies metus ac molestie. Phasellus commodo accumsan molestie. Nam eget justo eget ante commodo volutpat at ac quam. Nullam porta massa eget varius varius. Aenean eu turpis sit amet lorem imperdiet iaculis nec id mauris. Vivamus facilisis turpis sed vulputate fermentum. Duis at consequat mauris, ullamcorper lacinia sem. Ut ornare molestie libero. Aenean auctor magna ac ligula molestie, vel rutrum erat tincidunt. Nullam vel ligula sit amet lorem commodo rutrum. Pellentesque congue elit vel metus adipiscing porttitor. Mauris ac ligula dolor.</p>
            <p>Praesent vestibulum mauris quis eros tincidunt iaculis. Praesent odio massa, euismod non hendrerit id, consectetur placerat nisi. Ut a tortor ac velit scelerisque tincidunt a ac sem. Aliquam et massa augue. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et nulla a nulla gravida rutrum. Vestibulum tempus augue eget dui placerat, eget posuere dolor fringilla. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus lacus at venenatis auctor. Donec ultricies arcu non laoreet posuere. Ut venenatis laoreet eros, eget lobortis tellus malesuada ac. Cras lacinia rhoncus dolor iaculis sollicitudin. Pellentesque porta, leo id molestie consequat, ipsum arcu mollis nunc, quis lobortis massa est sed dui. Aliquam fringilla ut elit eget porttitor. Nulla feugiat faucibus vulputate.</p>
            <p>In porttitor quam non mi congue mattis. Sed euismod risus vel felis fermentum facilisis at a sem. Integer tempus in elit a tempus. Cras iaculis quam ac mauris porta viverra. Phasellus sit amet nisi at nisl feugiat dapibus in vitae sem. Nunc sagittis orci ac sem aliquam, id pharetra nunc cursus. Vivamus blandit tellus enim, eget consequat eros rutrum quis. Aliquam ac tortor tellus. Aliquam eleifend quam enim, congue vehicula felis convallis quis. Aliquam erat volutpat. Proin congue interdum felis et gravida. Phasellus sodales pulvinar nibh, sed suscipit turpis mollis euismod. Nunc sed malesuada velit. Integer turpis enim, mattis sit amet consequat vitae, pharetra a sapien.</p>
            <p>Maecenas interdum elit eget augue volutpat, eget malesuada mi tempor. Aliquam pharetra erat a eros vehicula, ac tincidunt nisi pharetra. Fusce libero velit, laoreet ut sapien ac, tempor consectetur tortor. Vestibulum est dolor, elementum non neque id, interdum pulvinar risus. Nulla imperdiet quam sed tristique semper. Vestibulum augue sem, imperdiet ut tellus vel, laoreet placerat urna. Nam tincidunt accumsan enim, quis luctus magna iaculis vel.</p>
            <p>Nunc condimentum felis gravida ullamcorper faucibus. Curabitur suscipit ultricies metus ac molestie. Phasellus commodo accumsan molestie. Nam eget justo eget ante commodo volutpat at ac quam. Nullam porta massa eget varius varius. Aenean eu turpis sit amet lorem imperdiet iaculis nec id mauris. Vivamus facilisis turpis sed vulputate fermentum. Duis at consequat mauris, ullamcorper lacinia sem. Ut ornare molestie libero. Aenean auctor magna ac ligula molestie, vel rutrum erat tincidunt. Nullam vel ligula sit amet lorem commodo rutrum. Pellentesque congue elit vel metus adipiscing porttitor. Mauris ac ligula dolor.</p>
            <p>Praesent vestibulum mauris quis eros tincidunt iaculis. Praesent odio massa, euismod non hendrerit id, consectetur placerat nisi. Ut a tortor ac velit scelerisque tincidunt a ac sem. Aliquam et massa augue. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et nulla a nulla gravida rutrum. Vestibulum tempus augue eget dui placerat, eget posuere dolor fringilla. </p>
          </div>

          <footer>
            <a href="nutils.org">nutils.org</a> ::
            <a href="https://github.com/nutils/nutils">github</a>
            <a name="footer">&nbsp;</a>
          </footer>
        </div><!-- content -->

        <div class="nutils-toolbar col-xs-1">
          <div class="nutils-toolbar-menu affix">
            <a href="#" class="">
              <i class="glyphicon glyphicon-circle-arrow-up" title="Scroll to the top of the page"></i>
            </a>
            <a href="#" class="">
              <i class="glyphicon glyphicon-chevron-up" title="Scroll to the first result"></i>
            </a>
            <a href="#" class="">
              <i class="glyphicon glyphicon-chevron-left" title="Scroll to the previous result"></i>
            </a>
            <a href="#" class="">
              <i class="glyphicon glyphicon-chevron-right" title="Scroll to the next result"></i>
            </a>
            <a href="#" class="">
              <i class="glyphicon glyphicon-chevron-down" title="Scroll to the last result"></i>
            </a>
            <a href="#footer" class="">
              <i class="glyphicon glyphicon-circle-arrow-down" title="Scroll to the bottom of the page"></i>
            </a>
          </div><!-- button-group-vertical -->
        </div><!-- toolbar -->

      </div><!-- row -->
    </div><!-- container -->
  </body>
</html>
